#wall .tag-1 {
  display: none;
  }

div#wall #tag-2 {
  background:none;
}

div#wall #tag-3.slick.wicked {
  background: none;
}

#wall .parent #tag-4 {
  display: none;
}

div#wall div + .parent #tag-5.slick {
  display: none;
}

div#wall div.parent div + div:last-child {
  display: none;
}

body div#wall div.parent div:first-child > #tag-7.slick {
  display: none;
}
